<nb-layout>
  <nb-layout-header fixed>Not Account</nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    ALL OF THE BUTTTTTOOOOONNSSSS
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
    <button nbButton>Nice Button</button>
  </nb-layout-column>
</nb-layout>
